---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./blog/*.md");
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container mx-auto py-4">
    <h1 class="text-2xl py-4">Projects</h1>
	<a href="https://arxiv-library.vercel.app/">Arxiv Library</a>
    <h1 class="text-2xl py-4">Blog</h1>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
