---
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="font-sans">
    <header class="border-b-2">
      <div class="container mx-auto py-4">
        <a href="/" class="text-4xl font-bold">Reece O'Mahoney</a>
      </div>
    </header>
    <slot />
  </body>
</html>
