---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container mx-auto py-4 prose">
    <slot />
  </div>
</BaseLayout>
